[Unit]
Description=PST Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nkosearas
WorkingDirectory=/home/nkosearas/pst-telegram-bot
EnvironmentFile=/home/nkosearas/pst-telegram-bot/.env
ExecStart=/home/nkosearas/pst-telegram-bot/venv/bin/python /home/nkosearas/pst-telegram-bot/bot.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
